/************************HTML Tags************************/

body {
    margin: 0;
    background-color: #cbf1f5;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    margin-top: 0;
    font-family: 'Lobster', cursive;
}

h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
    border-style: none;
    border-top: dotted;
    border-color: rgb(70, 68, 68);
    border-top-width: 5px;
    width: 5%;
}

/************************Class Tags************************/

.intro {
    padding: 25px;
    background-image: url(../images/intro-back.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: large;
}

.srm {
    text-decoration: solid;
}

.about {
    padding: 20px;
}