/************************HTML Tags************************/

body {
    margin: 0;
    background-color: #cbf1f5;
    font-family: 'PT Sans', sans-serif;
    line-height: 2;
    text-align: center;
    font-size: 1.2rem;
    color: #40514e;
}

h1 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'Lobster', cursive;
}

h3 {
    color: #c75a32;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    color: #d38526;
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 50px;
}

hr {
    margin-bottom: 50px;
    border-style: none;
    border-top: dotted;
    border-color: rgb(124, 120, 120);
    border-top-width: 5px;
    width: 5%;
    clear: both;
}

footer {
    background-color: #ff6f00;
    margin-top: 50px;
    padding: 20px;
    color: white;
}

/************************Class Tags************************/

.intro {
    padding: 50px;
    background-image: url(../images/intro-back.jpg);
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
    color: black;
}

.bio {
    margin: auto;
    width: 70%;
}

.srm-link {
    text-decoration: solid;
}

.content {
    padding-top: 20px;
    margin: auto;
    width: 60%;
}

.design-discription {
    text-align: left;
}

.design-img {
    margin-right: 30px;
    float: left;
    width: 25%;
}

.languages-img {
    margin-left: 30px;
    float: right;
    width: 25%;
}

.languages-discription {
    text-align: left;
}

.contact {
    margin: auto;
    width: 70%;
}

.contact-table {
    text-align: left;
    margin: auto;
}

.contact-button {
    background: #c75a32;
    background-image: -webkit-linear-gradient(top, #c75a32, #ff6f00);
    background-image: -moz-linear-gradient(top, #c75a32, #ff6f00);
    background-image: -ms-linear-gradient(top, #c75a32, #ff6f00);
    background-image: -o-linear-gradient(top, #c75a32, #ff6f00);
    background-image: linear-gradient(to bottom, #c75a32, #ff6f00);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: 'PT Sans', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.contact-button:hover {
    background: #fca63c;
    background-image: -webkit-linear-gradient(top, #fca63c, #d95a34);
    background-image: -moz-linear-gradient(top, #fca63c, #d95a34);
    background-image: -ms-linear-gradient(top, #fca63c, #d95a34);
    background-image: -o-linear-gradient(top, #fca63c, #d95a34);
    background-image: linear-gradient(to bottom, #fca63c, #d95a34);
    text-decoration: none;
}

footer>p {
    margin: 0;
}

.links {
    width: 60%;
    margin: auto;
}

.mylink {
    margin: 0 30px;
    color: white;
    text-decoration: none;
}

.mylink:hover {
    text-decoration: none;
    color: #6babb3;
}